.header {
  background-color: blueviolet;
  text-align: center;
  height: 50px;
  padding: 20px;
  font-weight: bold;
  color: aliceblue;
  font-size: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
