.item {
  width: 500px;
  color: #353935;
  font-size: 20px;
  margin: 0 auto;
}
.itemName {
  font-weight: bold;
  padding: 20px;
}
.line {
  border: 1px solid #f4f4f4;
}
.deleteButton {
  float: right;
  background-color: violet;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: -5px;
  padding: 12px 20px;
  cursor: pointer;
}
